/* ===============================
   ========= Global CSS ==========
   =============================== */
   :root {
    --green: #00a400;
    --yellow: #ffff00;
    --green_dark: #007b00;
    --light: #ededed;
    --white: #ffffff;
    --dark: #3c3c3c;
    --light_dark: #d9d8d8;
    --black: #000000;
}

/* ========================== */

.btn-dark,
.btn-outline-dark {
    border-radius: 100px;
    font-weight: bold;
}

.btn-dark:hover {
    background: transparent;
    color: var(--dark);
}

body,
p,
a {
    font-family: 'roboto', sans-serif;
    font-size: 15px;
    text-decoration: none;
    color: var(--dark);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'poppins', sans-serif;
    font-weight: 700;
}

h1 {
    font-size: 45px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 26px;
}

h4 {
    font-size: 24px;
}

h4 {
    font-size: 22px;
}


/* Register / Login */
#register,
#login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh !important;
}
#register .card,
#login .card {
  border-top: 4px solid var(--green);
  border-bottom: 4px solid var(--green);
  width: 100%;
}
#register .brand_logo img,
#login .brand_logo img {
  width: 100px;
  height: auto;
  display: block;
}

#register a:hover,
#login a:hover {
  text-decoration: underline;
}

