@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* ===============================
   ========= Global CSS ==========
   =============================== */
:root {
    --green: #00a400;
    --bs-alert-success-dark: #71f479;
    --bs-alert-success-light: #98fed0;
    --bs-alert-danger-dark: #fd5a5a;
    --bs-alert-danger-light: #fda7a7;
    --green_light: #ebfceb;
    --yellow: #ffff00;
    --green_dark: #007b00;
    --light: #ededed;
    --white: #ffffff;
    --dark: #3c3c3c;
    --light_dark: #d9d8d8;
    --black: #000000;
}

.admin_page {
    min-height: 80vh;
}

.admin_page .card {
    padding-top: 0 !important;
}


@font-face {
    font-family: SolaimanLipi;
    src: url('fonts/SolaimanLipi.woff2');
}

.roboto_regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.roboto_bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.bg_green {
    background: var(--green);
}

.bg_light {
    background: var(--light);
}

.bg_white {
    background: var(--white);
}

.text_green {
    color: var(--green);
}

body,
p,
a {
    font-family: 'roboto', sans-serif;
    font-size: 15px;
    text-decoration: none;
    color: var(--dark);
}

.text_english_title {
    font-family: 'poppins', sans-serif;
}

.text_english {
    font-family: 'roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'poppins', sans-serif;
    font-weight: 700;
}

h1 {
    font-size: 45px;
}

h2 {
    font-size: 40px;
    color: var(--green_dark);
}

h3 {
    font-size: 26px;
}

h4 {
    font-size: 28px;
    color: var(--green);
}

h5 {
    font-size: 22px;
}

/* btn */
/* btn_green_outline */
.btn_green_outline {
    background: transparent;
    color: var(--green);
    border: 1px solid var(--green);
}

.btn_green_outline.active,
.btn_green_outline:focus,
.btn_green_outline:hover {
    background: var(--green);
    color: var(--light);
    border: 1px solid var(--green);
}

/* btn_green */

.btn_green {
    background: var(--green);
    color: var(--light);
    border: 1px solid var(--green);
}

.btn_green.active,
.btn_green:focus,
.btn_green:hover {
    background: transparent;
    color: var(--green);
    border: 1px solid var(--green);
}

/* btn_dark */

.btn_dark {
    background: var(--dark);
    color: var(--light);
    border: 1px solid var(--dark);
}

.btn_dark.active,
.btn_dark:focus,
.btn_dark:hover {
    background: transparent;
    color: var(--dark);
    border: 1px solid var(--dark);
}

.page_title {
    border-bottom: 1px solid var(--green);
    margin-bottom: 20px;
}

.card h1,
.card h2,
.card h3,
.card h4,
.card h5,
.card h6,
.card p {
    margin-bottom: 10px;
}


.card_hover_scale {
    overflow: hidden;
    padding: 0;
    border-radius: 0;
    transition: 0.5s;
}

.card_hover_scale:hover {
    scale: 1.02;
}

.card img {
    width: 100%;
    display: block;
}

.breadcrumb-item.active {
    color: var(--green) !important;
}

ul {
    list-style: none;
    padding: 0;
}

/* ################# bodyNav ###################### */
#bodyNav {
    position: sticky;
    top: 59px;
    z-index: 1;
}


/* ================ Table ================== */
#marksDistribution tbody tr td {
    padding-top: 2px;
    padding-bottom: 2px;
}




/* =============================================================================== */
.dashboard_card_title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.admin_page {
    min-height: 85vh !important;
    background: white;
    margin-top: 15px;
}

.sl-menu-link {
    padding: 8px 0;
}

.sl-menu-link.active {
    background-color: #f0f0f0;
    color: #333;
}

.sl-menu-link.show-sub {
    background-color: var(--green);
    color: var(--light);
}

.nav-link.active {
    background-color: var(--green_light) !important;
}


/* DataTable */
#myTable.dataTable tbody td {
    vertical-align: middle;
}

/* Toast */
.toastify.bg-success {
    box-shadow: 0 3px 6px -1px #0000001f, 0 10px 36px -4px #4d60e84d !important;
    background: -webkit-linear-gradient(315deg, var(--bs-alert-success-light), var(--bs-alert-success-dark)) !important;
    background: linear-gradient(135deg, var(--bs-alert-success-light), var(--bs-alert-success-dark)) !important;
}

.toastify.bg-danger {
    box-shadow: 0 3px 6px -1px #0000001f, 0 10px 36px -4px #4d60e84d !important;
    background: -webkit-linear-gradient(315deg, var(--bs-alert-danger-light), var(--bs-alert-danger-dark)) !important;
    background: linear-gradient(135deg, var(--bs-alert-danger-light), var(--bs-alert-danger-dark)) !important;
}


.selectAll,
.checkboxRow {
    width: 10px !important;
}


/* #create_modal {
    min-width: 50% !important;
}

#create_modal .modal-dialog {
    width: 100% !important;
} */


/* Modal */
.modal {
    max-width: 1200px !important;
    min-width: 300px !important;
    width: 70% !important;
    margin: 0 auto !important;
}

.modal-dialog {
    width: 96% !important;
    margin: 0 auto !important;
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 96% !important;
        margin: 30px auto;
    }
}



.modal-content {
    border-radius: 0 !important;
    padding: 20px !important;
}

.info.form-control:disabled {
    border: none;
    background: transparent;
}

.col-inner {
    padding: 10px;
    border-radius: 5px;
    background-color: var(--white);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.modal .modal-body {
    background-color: transparent !important;
}


/* User Profile */
.user-profile-nav a,
.user-profile-nav button {
    display: flex;
    align-items: center;
    padding: 0 10px;
    height: 40px;
    color: rgba(255, 255, 255, 0.8);
    transition: all 0.2s ease-in-out;
    width: 100% !important;
  }
  .user-profile-nav a:hover,
  .user-profile-nav a:focus,
  .user-profile-nav button:hover,
  .user-profile-nav button:focus {
    background-color: #2b333e;
    color: #fff;
  }

  